<template>
  <div class="card">
        <h2 class="book-title">{{ book.title }}</h2> 
    <h2 class="book-author">{{ book.author }}</h2>
    <img v-if="book.isbn" v-bind:src="'http://covers.openlibrary.org/b/isbn/' + book.isbn + '-M.jpg'" />
    <div class="button-container" v-if="! enableAdd">
        <div class="mark-read" v-if="!book.read">I have not read this book</div>
        <div class="mark-unread" v-else>I have read this book</div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'book-card',
    computed: {
    book() {
      return this.$store.state.books.find((book) => {
        return book.isbn == this.$route.params.id;
      });
    }
  }
}
</script>

<style>
.card {
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 550px;
    margin: 20px;
}

.card.read {
    background-color: lightgray;
}

.card .book-title {
    font-size: 1.5rem;
}

.card .book-author {
    font-size: 1rem;
}
</style>