<template>
<div id="home">
    <h1>Best Sellsers</h1>
    <BestSellerList/>
     <h1>New Releases</h1>
    <NewReleasesList />
  </div>
</template>

<script>
import BestSellerList from '@/components/BestSellerList.vue';
import NewReleasesList from '@/components/NewReleasesList.vue';
export default {
  name: "home",
  components: {
    BestSellerList,
    NewReleasesList
  }
}
</script>

<style>
.best-seller-list {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
</style>