<template>
<div id="my-books">
    <h1>My Books</h1>
    <ReadingList/>
    <a href="/addBook">New Book</a> 
  </div>
</template>

<script>
import ReadingList from '@/components/ReadingList.vue';
export default {
  name: "my-books",
  components: {
    ReadingList
  }
}
</script>

<style>
.best-seller-list {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
</style>