<template>
<div id="new-books">
    <h1>New Book</h1>
    <NewBookForm/>
    
  </div>
</template>

<script>
import NewBookForm from '@/components/NewBookForm.vue';
export default {
  name: "my-books",
  components: {
    NewBookForm
  }
}
</script>

<style>
.best-seller-list {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
</style>