#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "header          header          header"
      "headline        headline        student-picture"
      "student-quote   student-quote   student-picture"
      "student-quote   student-quote   student-contact";
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}
    header {
          grid-area: header;
      }
      
    #headline {
          grid-area: headline;
          
      }

    #student-picture {
          grid-area: student-picture;
      }

      #student-quote > student-quote {
          grid-area: student-quote;
          width: 100%
      }
      #student-contact {
          grid-area: student-contact;
          margin: 0 auto;
      }

      div.experience-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
           "experience-code       experience-code"
           "experience-database   experience-database"
           "experience-web        experience-design"
           "footer                footer";

           grid-column-gap: 50px;
           grid-row-gap: 20px;
      }

      #experience-code {
          grid-area: experience-code;
      }    

      #experience-database {
          grid-area: experience-database;
      }

      #experience-web {
          grid-area: experience-web;
      }

      #experience-design {
          grid-area: expericnec-design;
      }

      
      @media screen and (max-width: 800px){
        div.container{
            grid-template-columns: 1;
            grid-template-areas: 
            "header"
            "headline"
            "student-picture"
            "student-quote"
            "student-contact"
            "footer";
        }


}