* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  width: 200px;
  position: fixed;
  border-right: 1px solid rgba(0, 173, 238, 0.4);
  height: 100vh;
  padding-left: 20px;
  padding-right:20px;
}

 aside > img {
  margin: 0 auto;
  height: 120px;
  display: block;
 } 

 aside > nav > ul > li {
   list-style: none;
   text-align: center;
   text-transform: uppercase;
   border-bottom: 1px solid rgba(0, 173, 238, 0.4);
   margin: 10px auto;
   padding-bottom: 10px;
   width: 80%;
   line-height: 2;
 }

 aside > nav > ul > li > a {
   color: #00ADEE;
   font-weight: bold;
   text-decoration: none;
 }

 aside > nav > ul > li > a:hover {
   text-decoration: underline;
 }

 main {
   margin-left: 200px;
   padding-left: 20px;
   padding-right: 20px;
 }
 
 /*  main > header {
  height: 120px;
  }  */


  main > header > img {width: 80%}

  main > img.banner {
    display: block;
    width: 100%;
  }
  
  main > section > div {
    display: inline-block;
    column-width: 33%;
    padding-right: 20px;
    margin-top: 20px;
    }
  
  main > section > div > h2 {
    color: #8cc36f;
  }
  
  main > section > div > h2.i {
    margin-right: 10px;
  }
  
  main > section > div :not(:last-child){
     border-right: 1px solid rgba(170, 239, 135, 0.8);
  }
  
  main > section > div :not(:first-child) {
    padding-left:20px;
  } 
  