<template>
  <div class="card" v-bind:class="{ 'mark-read': !book.read, 'mark-unread': book.read}">
      <div class="book-title">{{book.title}}</div>   
    <img v-if="book.isbn" v-bind:src="'http://covers.openlibrary.org/b/isbn/' + book.isbn + '-M.jpg'" />
    <div class="book-author">{{book.author}}</div>
    
<button  v-if="book.read" class='mark-unread' v-on:click="toggleRead()">Mark Unread</button>
<button  v-else class='mark-read' v-on:click="toggleRead()">Mark Read</button>
  </div>
</template>

<script>
export default {
    name: 'book-card',
    props: {
        book:{
            type: Object
        }
   },
   methods:{
       toggleRead(){
           this.book.read = !this.book.read;
       }
   }
}
</script>

<style>
.card {
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 550px;
    margin: 20px;
}

.card.read {
    background-color: lightgray;
}

.card .book-title {
    font-size: 1.5rem;
}

.card .book-author {
    font-size: 1rem;
}
</style>