<template>
<form class="new-book-form">
  <input v-model="book.title" class="title-input" placeholder="title"/>
  <input v-model="book.author" class="author-input" placeholder="author"/>
  <input v-model="book.isbn" class="isbn-input" placeholder="isbn"/>
  <button  v-on:click.prevent="addBook()">save</button>
  </form>
</template>

<script>
export default {
    name: 'new-book-form',
    data() {
    return {
      book: {
        title: "",
        author: "",
        read: false,
        isbn: ""
      }
    }
   },

   methods:{
       addBook(){
           this.$store.commit('addBook',this.book);
       }
   }
}
</script>

<style>
.card {
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 550px;
    margin: 20px;
}

.card.read {
    background-color: lightgray;
}

.card .book-title {
    font-size: 1.5rem;
}

.card .book-author {
    font-size: 1rem;
}
</style>