<template >
  <div class="book-container">
 <BookCard  v-for="b in books"
        v-bind:key="b.title" :book = "b"></BookCard>
  </div>
</template>

<script> 
import BookCard from './BookCard.vue';
export default {
    name: 'reading-list',
    components: {
    BookCard
  },
     data() {
    return {
      books:[]
    }
   },
   created() {
     this.books= this.$store.state.books;
   }
}
</script>

<style>
.book-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
</style>