<template>
  <div class="container">
    <table id="tblUsers">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Email Address</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox" 
                   id="selectAll" 
                   v-on:change="toggleCheckboxes" 
                   v-model="selectAll"/>
          </td>
          <td>
            <input type="text" id="firstNameFilter" v-model="filter.firstName" />
          </td>
          <td>
            <input type="text" id="lastNameFilter" v-model="filter.lastName" />
          </td>
          <td>
            <input type="text" id="usernameFilter" v-model="filter.username" />
          </td>
          <td>
            <input type="text" id="emailFilter" v-model="filter.emailAddress" />
          </td>
          <td>
            <select id="statusFilter" v-model="filter.status">
              <option value>Show All</option>
              <option value="Active">Active</option>
              <option value="Disabled">Disabled</option>
            </select>
          </td>
          <td>&nbsp;</td>
        </tr>
        <tr
          v-for="user in filteredList"
          v-bind:key="user.id"
          v-bind:class="{ disabled: user.status === 'Disabled' }"
        >
          <td>
            <input type="checkbox" 
                   v-bind:id="user.id" 
                   v-bind:value="user.id" 
                   v-model="selectedUserIDs"
                   v-on:change="toggleSelectAll" />
          </td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.emailAddress }}</td>
          <td>{{ user.status }}</td>
          <td>
            <button class="btnEnableDisable" v-on:click="flipStatus(user.id)" v-if="user.status === 'Active'">Disable</button>
            <button class="btnEnableDisable" v-on:click="flipStatus(user.id)" v-else>Enable</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="all-actions">
      <button v-bind:disabled="actionButtonDisabled" v-on:click="enableSelectedUsers">Enable Users</button>
      <button v-bind:disabled="actionButtonDisabled" v-on:click="disableSelectedUsers">Disable Users</button>
      <button v-bind:disabled="actionButtonDisabled" v-on:click="deleteSelectedUsers">Delete Users</button>
    </div>

    <button v-on:click.prevent="showForm = true" 
            v-show="showForm === false">Add New User</button>

    <form id="frmAddNewUser" v-on:submit.prevent="addNewUser" v-show="showForm === true">
      <div class="field">
        <label for="firstName">First Name:</label>
        <input type="text" v-model="newUser.firstName" required/>
      </div>
      <div class="field">
        <label for="lastName">Last Name:</label>
        <input type="text" v-model="newUser.lastName" required/>
      </div>
      <div class="field">
        <label for="username">Username:</label>
        <input type="text" v-model="newUser.username" />
      </div>
      <div class="field">
        <label for="emailAddress">Email Address:</label>
        <input type="text" v-model="newUser.emailAddress" />
      </div>
      <button type="submit" class="btn save" v-on:click="addNewUser">Save User</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "user-list",
  created() {
    console.log('Component has been created!');
  },
  data() {
    return {
      selectAll:false,
      selectedUserIDs:[],
      showForm: false,
      filter: {
        firstName: "",
        lastName: "",
        username: "",
        emailAddress: "",
        status: ""
      },
      newUser: {
        id: null,
        firstName: "",
        lastName: "",
        username: "",
        emailAddress: "",
        status: "Active"
      },
      users: [
        {
          id: 1,
          firstName: "John",
          lastName: "Smith",
          username: "jsmith",
          emailAddress: "jsmith@gmail.com",
          status: "Active"
        },
        {
          id: 2,
          firstName: "Anna",
          lastName: "Bell",
          username: "abell",
          emailAddress: "abell@yahoo.com",
          status: "Active"
        },
        {
          id: 3,
          firstName: "George",
          lastName: "Best",
          username: "gbest",
          emailAddress: "gbest@gmail.com",
          status: "Disabled"
        },
        {
          id: 4,
          firstName: "Ben",
          lastName: "Carter",
          username: "bcarter",
          emailAddress: "bcarter@gmail.com",
          status: "Active"
        },
        {
          id: 5,
          firstName: "Katie",
          lastName: "Jackson",
          username: "kjackson",
          emailAddress: "kjackson@yahoo.com",
          status: "Active"
        },
        {
          id: 6,
          firstName: "Mark",
          lastName: "Smith",
          username: "msmith",
          emailAddress: "msmith@foo.com",
          status: "Disabled"
        }
      ]
    };
  },
  methods: {
    toggleSelectAll() {
      console.log('toggleSelectAll is triggered:  length = ' + this.selectedUserIDs.length);
      console.log(this.selectAll);
      if (this.users.length === this.selectedUserIDs.length){
        this.selectAll = true;
      }
      else {
        this.selectAll = false;
      }
    },
    unselectCheckboxes(){
      this.selectedUserIDs=[];
    },
    selectCheckboxes(){
      this.selectedUserIDs=[];
      for(let i=0; i<this.users.length; i++){
        this.selectedUserIDs.unshift(this.users[i].id);
      }
    },
    toggleCheckboxes () {
      if (this.selectAll) {
        this.selectCheckboxes();
      }
      else {
        this.unselectCheckboxes();
      }
    },

    enableSelectedUsers() {
      for (let i = 0; i<this.selectedUserIDs.length; i++) {
        let result = this.users.find(( user ) =>
      { 
        return user.id === this.selectedUserIDs[i];
      });
      result.status = 'Active';
      }
    }, 
    disableSelectedUsers() {
      for (let i = 0; i<this.selectedUserIDs.length; i++) {
        let result = this.users.find(( user ) =>
      { 
        return user.id === this.selectedUserIDs[i];
      });
      result.status = 'Disabled';
      }
    },
    deleteSelectedUsers() {
      for (let i = 0; i<this.users.length; i++) {
          if (this.selectedUserIDs.includes(this.users[i].id)) {
            this.users.splice(i, 1);
            i--;
          }
      }
    },       
   saveUser() {
      this.users.unshift(this.newUser);
      this.resetForm();
    },
    resetForm() {
      this.newUser = {};
      this.showForm = false;
    },
    flipStatus(id) {
      let result = this.users.find(( user ) =>
      { 
        return user.id === id;
      });
      if (result.status === 'Active') {
        result.status = 'Disabled';
      }
      else {
        result.status = 'Active';
      }
    }
  },
  computed: {
    actionButtonDisabled() {
      return this.selectedUserIDs.length < 1;
    },
    filteredList() {
      let filteredUsers = this.users;
      if (this.filter.firstName != "") {
        filteredUsers = filteredUsers.filter((user) =>
          user.firstName
            .toLowerCase()
            .includes(this.filter.firstName.toLowerCase())
        );
      }
      if (this.filter.lastName != "") {
        filteredUsers = filteredUsers.filter((user) =>
          user.lastName
            .toLowerCase()
            .includes(this.filter.lastName.toLowerCase())
        );
      }
      if (this.filter.username != "") {
        filteredUsers = filteredUsers.filter((user) =>
          user.username
            .toLowerCase()
            .includes(this.filter.username.toLowerCase())
        );
      }
      if (this.filter.emailAddress != "") {
        filteredUsers = filteredUsers.filter((user) =>
          user.emailAddress
            .toLowerCase()
            .includes(this.filter.emailAddress.toLowerCase())
        );
      }
      if (this.filter.status != "") {
        filteredUsers = filteredUsers.filter((user) =>
          user.status === this.filter.status
        );
      }
      return filteredUsers;
    }
  }
};
</script>

<style scoped>
table {
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 20px;
}
th {
  text-transform: uppercase;
}
td {
  padding: 10px;
}
tr.disabled {
  color: red;
}
input,
select {
  font-size: 16px;
}

form {
  margin: 20px;
  width: 350px;
}
.field {
  padding: 10px 0px;
}
label {
  width: 140px;
  display: inline-block;
}
button {
  margin-right: 5px;
}
.all-actions {
  margin-bottom: 40px;
}
.btn.save {
  margin: 20px;
  float: right;
}
</style>
